---
layout: page
title: "Resources"
description: "常用资源下载"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!--&lt;!&ndash; Chinese Version &ndash;&gt;-->
<!--<div class="zh post-container">-->

<!--    &lt;!&ndash;copied from markdown &ndash;&gt;-->
<!--    <blockquote><p>每天只要15分钟，一个月就能掌握<br>-->
<!--    学一点儿是一点儿，不用也不会忘</p></blockquote>-->

<!--    <p>这里是三叶语学习的相关资料（持续更新中，请常来看看）。</p>-->


<!--    <p></p>-->
        
<h3 id="toc_0">下载中心</h3>

<ul>
    <p></p>
    <p></p>
    <!--<<<<<<< HEAD:resources.html-->
    <li><a href="https://github.com/skylot/jadx">点击下载github资源：JADX</a></li>
    <p></p>
    <p></p>
    <li><a href="{{site.baseurl}}/files/apktool_2.4.1.jar">点击下载站内资源：apktool_2.4.1.jar</a></li>

<!--    <li><a href="{{site.baseurl}}/files/xposed-installer-3-1-3.apk">点击下载：xposed-installer apk文件</a></li>-->
    <p></p>
    <p></p>
    <li><a href="https://pan.baidu.com/s/1YriZ01zzs5K4uNPc_KC5AQ?pwd=ca8k">百度网盘下载：ADT-23.0.7.zip</a></li>

    <li><a href="https://pan.baidu.com/s/1ghbjE_pJ2vAE8WXgV97zTg?pwd=avnf">百度网盘下载：smalidea-0.05.zip</a></li>

    <li>
        <a href="https://pan.baidu.com/s/1VlBfTJQQ5KpshFJq80A7HA?pwd=3mxt">百度网盘下载：JEB3.19_Pro</a>

        <a href="https://blog.csdn.net/WuYu_AS/article/details/118436844#JEB319_3">（JEB的安装使用参考这里）</a>
    </li>
    <li><a href="https://pan.baidu.com/s/1jalOI2fF0nvqJfUKGnO8jQ?pwd=7d8n">百度网盘下载：AndroidKiller.zip</a></li>

    <li><a href="https://pan.baidu.com/s/1LWnsnvH8h41Jp9KHuIP7rg?pwd=mv00">百度网盘下载：nox_setup_v5.1.0.0_android_4.4.2.exe</a></li>

    <li><a href="https://pan.baidu.com/s/1fsPidu_IjP-fS1d0OZP7iw?pwd=v7tm">百度网盘下载：de.robv.android.xposed.installer_v33_36570c.apk（适用 android 4.4）</a></li>

    <li><a href="https://pan.baidu.com/s/1lB7ON43SHXUQ-3yTS1mq7g?pwd=kin2">百度网盘下载：JustTrustMe.apk</a></li>

    <!--<li><a href="{{site.baseurl}}/2018/12/10/三叶语简介">三叶语简介</a></li>-->
    <!--<li><a href="{{site.baseurl}}/2019/01/11/三叶语概述">三叶语概述</a></li>-->
    <!--<li><a href="{{site.baseurl}}/2019/09/22/三叶语详解语音">三叶语详解（一 语音）</a></li>-->
    <!--<li>三叶语详解（二 词汇）</li>-->
    <!--<li>三叶语详解（三 语法）</li>-->
</ul>


<!--<h3 id="toc_1">教程类</h3>-->
<!---->
<!--<ul>-->
<!---->
<!--<li>一小时掌握三叶语单词结构和基础单词</li>-->
<!--<li>半小时掌握三叶语语法和简单语句</li>-->
<!--<li>阅读材料</li>-->
<!--<li>Memrise教程</li>-->
<!--</ul>-->
<!---->
<!--<h3 id="toc_2">词典类</h3>-->
<!---->
<!--<ul>-->
<!--<li>JADX（<a href="{{site.baseurl}}/files/jadx-1.1.0.zip">中文</a>，English）</li>-->

<!--<li><a href="{{site.baseurl}}/files/三叶语词汇表_V0.6.pdf">三叶语词汇表 (V0.6)</a></li>-->
<!--</ul>-->
<!---->
<!--<h3 id="toc_3">网站类</h3>-->
<!---->
<!--<ul>-->
<!--<li>人造语言维基（中文）：<a href="https://yuyan.fandom.com/zh/wiki/%E4%B8%89%E5%8F%B6%E8%8D%89%E5%9B%BD%E9%99%85%E8%AF%AD">三叶草国际语</a></li>-->
<!--<li>Conlang维基 (English)：<a href="https://conlang.fandom.com/wiki/Klovien_%E4%B8%89%E5%8F%B6%E8%AF%AD">Klovien 三叶语</a></li>-->
<!--<li>百度人造语言吧：<a href="https://tieba.baidu.com/p/6009002082">三叶草国际语</a></li>-->
<!--</ul>-->

<!--<hr>-->

<!--<small> <font color="a0a9a9">-->
<!--<b>特别说明：</b>-->
<!--<li>因为三叶语的设计和词汇还在完善中，您现在学习的内容将来可能还会有少量变化，敬请理解。</li>-->
<!--<li>若不同文件存在不一致的地方，请以“详解系列”和最新版的“三叶语词汇表”为准，或咨询作者。</li>-->
<!--</font>-->
<!--<small>-->
<!--=======-->
<!--<li><a href="{{site.baseurl}}/2018/12/10/三叶语简介">三叶语简介</a></li>-->
<!--<li><a href="{{site.baseurl}}/2019/01/11/三叶语概述">三叶语概述</a></li>-->
<!--<li><a href="{{site.baseurl}}/2019/09/22/三叶语详解语音">三叶语详解（一 语音）</a></li>-->
<!--<li>三叶语详解（二 词汇）</li>-->
<!--<li>三叶语详解（三 语法）</li>-->
<!--</ul>-->

<!--<h3 id="toc_1">教程类</h3>-->

<!--<ul>-->
<!--<li>十分钟掌握三叶语字母和读音（<a href="{{site.baseurl}}/files/三叶语-语音.pdf">中文</a>，English）</li>-->
<!--<li>一小时掌握三叶语单词结构和基础单词</li>-->
<!--<li>半小时掌握三叶语语法和简单语句</li>-->
<!--<li>阅读材料</li>-->
<!--<li>Memrise教程</li>-->
<!--</ul>-->

<!--<h3 id="toc_2">词典类</h3>-->

<!--<ul>-->
<!--<li><a href="https://github.com/klovien/klovien.github.io/wiki">三叶语维基词典</a></li>-->
<!--<li><a href="{{site.baseurl}}/files/三叶语词汇表_V0.6.pdf">三叶语词汇表 (V0.6)</a></li>-->
<!--</ul>-->

<!--<h3 id="toc_3">网站类</h3>-->

<!--<ul>-->
<!--<li>人造语言维基（中文）：<a href="https://yuyan.fandom.com/zh/wiki/%E4%B8%89%E5%8F%B6%E8%8D%89%E5%9B%BD%E9%99%85%E8%AF%AD">三叶草国际语</a></li>-->
<!--<li>Conlang维基 (English)：<a href="https://conlang.fandom.com/wiki/Klovien_%E4%B8%89%E5%8F%B6%E8%AF%AD">Klovien 三叶语</a></li>-->
<!--<li>百度人造语言吧：<a href="https://tieba.baidu.com/p/6009002082">三叶草国际语</a></li>-->
<!--</ul>-->

<!--<hr>-->

<!--<small> <font color="a0a9a9">-->
<!--<b>特别说明：</b>-->
<!--<li>因为三叶语的设计和词汇还在完善中，您现在学习的内容将来可能还会有少量变化，敬请理解。</li>-->
<!--<li>若不同文件存在不一致的地方，请以“详解系列”和最新版的“三叶语词汇表”为准，或咨询作者。</li>-->
<!--</font>-->
<!--<small>-->
<!--&gt;>>>>>> parent of 3f3636e (修改资源站):resources.html-->
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<!--<script type="text/javascript">-->
<!--    // get nodes-->
<!--    var $zh = document.querySelector(".zh");-->
<!--    var $en = document.querySelector(".en");-->
<!--    var $select = document.querySelector("select");-->

<!--    // bind hashchange event-->
<!--    window.addEventListener('hashchange', _render);-->

<!--    // handle render-->
<!--    function _render(){-->
<!--        var _hash = window.location.hash;-->
<!--        // en-->
<!--        if(_hash == "#en"){-->
<!--            $select.selectedIndex = 1;-->
<!--            $en.style.display = "block";-->
<!--            $zh.style.display = "none";-->
<!--        // zh by default-->
<!--        }else{-->
<!--            // not trigger onChange, otherwise cause a loop call.-->
<!--            $select.selectedIndex = 0;-->
<!--            $zh.style.display = "block";-->
<!--            $en.style.display = "none";-->
<!--        }-->
<!--    }-->

<!--    // handle select change-->
<!--    function onLanChange(index){-->
<!--        if(index == 0){-->
<!--            window.location.hash = "#zh"-->
<!--        }else{-->
<!--            window.location.hash = "#en"-->
<!--        }-->
<!--    }-->

<!--    // init-->
<!--    _render();-->
<!--</script>-->


<!--&lt;!&ndash; Gitalk 评论 start  &ndash;&gt;-->
<!--{% if site.gitalk.enable %}-->
<!--&lt;!&ndash; Gitalk link  &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">-->
<!--<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>-->

<!--<div id="gitalk-container"></div>-->
<!--    <script type="text/javascript">-->
<!--    var gitalk = new Gitalk({-->
<!--    clientID: '{{site.gitalk.clientID}}',-->
<!--    clientSecret: '{{site.gitalk.clientSecret}}',-->
<!--    repo: '{{site.gitalk.repo}}',-->
<!--    owner: '{{site.gitalk.owner}}',-->
<!--    admin: ['{{site.gitalk.admin}}'],-->
<!--    distractionFreeMode: {{site.gitalk.distractionFreeMode}},-->
<!--    id: 'resources',-->
<!--    });-->
<!--    gitalk.render('gitalk-container');-->
<!--</script>-->
<!--{% endif %}-->
<!--&lt;!&ndash; Gitalk end &ndash;&gt;-->

<!-- &lt;!&ndash; disqus 评论框 start  &ndash;&gt;-->
<!--{% if site.disqus.enable %}-->

<!--<div class="comment">-->
<!--    <div id="disqus_thread" class="disqus-thread">-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; disqus 评论框 end &ndash;&gt;-->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

